body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.back{
    background: rgb(208, 207, 207);
}

h2{
  color: rgb(42, 97, 165);
  font-family: 'Courier New', Courier, monospace;
}
.image{
    width: 70%;
    height: 70%;
}
.container2{
  background-color: rgb(243, 239, 239);
  /* background-image: -moz-linear-gradient(https://unsplash.com/photos/empty-table-and-chairs-inside-building-ZgREXhl8ER0); */
}

.container3{
  background-color: rgb(242, 241, 241);
}



.container {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

#login-form, #signup-form {
  background-color: #b1acac;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(118, 61, 61, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
}

button {
  padding: 10px;
  background-color: #2b89ee;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
